[Unit]
Description=Indiserver to MQTT Bridge
Requires=indiserver.service
BindsTo=indiserver.service
After=indiserver.service sockets.target network-online.target

[Service]
Type=simple
User=pi
ExecStart=/bin/bash -c 'exec $(which rt_indi_to_mqtt)'
ExecStop=/bin/kill $MAINPID
Restart=always
TimeoutSec=10

[Install]
WantedBy=multi-user.target
